.DS_Store
Thumbs.db
db.json
*.log
node_modules/
.astro/
dist/
public/*
!public/images/
public/images/*
!public/images/banner.jpg
!public/images/favicon.png
!public/images/icon-192.png
!public/images/icon-512.png
!public/fonts/
!public/data/
!public/manifest.json
!public/service-worker.js
!public/offline.html
!public/robots.txt
.deploy*/
_multiconfig.yml
C:\\Users\\
